<% provide(:title, "Organizers/Committees") %>

<h1><%= yield(:title) %></h1>

<h4><b>Chair and Committee</b></h4>
<ul>
  <li>Lin Shao (Texas A&amp;M University), Chair</li>
  <li>Michael Nastasi (University of Nebraska-Lincoln), Co-Chair</li>
  <li>William J. Webber (University of Tennessee), Co-Chair</li>
  <li>Yongqiang Wang (Los Alamos National Laboratory), Co-Chair</li>
</ul>

<h4><b>Program Committee</b></h4>
<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c1.png", alt: "", style: "width: 120px;") %>
    <h5>Lin Shao (Texas A&amp;M Univ., USA)</h5>
    <h5>Email: lshao@tamu.edu</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c2.png", alt: "", style: "width: 120px;") %>
    <h5>Michael Nastasi (Univ. of Nebraska-Lincoln, USA)</h5>
    <h5>Email: mnastasi2@unl.edu</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c3.png", alt: "", style: "width: 120px;") %>
    <h5>William Weber (Univ. of Tennessee, USA)</h5>
    <h5>Email: wjweber@utk.edu</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c4.png", alt: "", style: "width: 120px;") %>
    <h5>Yongqiang Wang (Los Alamos Nat. Lab., USA)</h5>
    <h5>Email: yqwang@lanl.gov</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c5.png", alt: "", style: "width: 120px;") %>
    <h5>Leonard Feldman (Rutgers, USA)</h5>
    <h5>Email: l.c.feldman@rutgers.edu</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c6.png", alt: "", style: "width: 120px;") %>
    <h5>Rob Elliman (Australian Nat. Univ., Australia)</h5>
    <h5>Email: rob.elliman@anu.edu.au</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c7.png", alt: "", style: "width: 120px;") %>
    <h5>André Vantomme (Institute for Nucl. and Rad. Phys., Belgium)</h5>
    <h5>Email: andre.vantomme@kuleuven.be</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c8.png", alt: "", style: "width: 120px;") %>
    <h5>Robert S. Averback (Univ. Illinois at Urbana-Champaign)</h5>
    <h5>Email: averback@illinois.edu</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <h5>Maria-Grazia Grimaldi (U. Catania, Italy)</h5>
    <h5>Email: </h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c10.png", alt: "", style: "width: 120px;") %>
    <h5>Kai Nordlund (U. Helsinki, Finland)</h5>
    <h5>Email: kai.nordlund@helsinki.fi</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c11.png", alt: "", style: "width: 120px;") %>
    <h5>Zengfeng Di (Shanghai Inst. of Microsystems and Information Technology, China)</h5>
    <h5>Email: zfdi@mail.sim.ac.cn</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c12.png", alt: "", style: "width: 120px;") %>
    <h5>Wei-Kan Chu (Univ. of Houston, USA)</h5>
    <h5>Email: wkchu@uh.edu</h5>
    <br>
</div>

<div class="block" style="margin-top: 10px;">
    <%= image_tag("placeholders/committee/c13.png", alt: "", style: "width: 120px;") %>
    <h5>Christina Trautmann (Univ. of Darmstadt, Germany)</h5>
    <h5>Email: c.trautmann@gsi.de</h5>
    <br>
</div>
<h4><b>Committee Membership</b></h4>
<h5>International Committee</h5>
<ul>
  <li>Eduardo Alves (Portugal)</li>
  <li>Robert G. Elliman (Australia)</li>
  <li>Jurgen Fassbender (Germany)</li>
  <li>Paulo Fichtner (Brazil)</li>
  <li>Kenji Gamo (Osaka, Japan)</li>
  <li>Frederico Garrido (France)</li>
  <li>Maria-Grazia Grimaldi (Italy)</li>
  <li>Russel Gwilliam (United Kingdom)</li>
  <li>Mike A. Nastasi (USA)</li>
  <li>Kai Nordlund (Finland)</li>
  <li>Sjoerd Roorda (Canada)</li>
  <li>Elke Wendler (Germany)</li>
  <li>Andre Vantomme (Belgium)</li>
  <li>Xi Wang (China)</li>
  <li>William J. Weber (USA)</li>
  <li>Isao Yamada (Japan)</li>
</ul>

<h5>Honorary Members</h5>
<ul>
  <li>H. Bernas (France)</li>
  <li>W. L. Brown (USA)</li>
  <li>J. C. Barbour (USA)</li>
  <li>M. Behar (Brazil)</li>
  <li>G. Carter (UK)</li>
  <li>W. K. Chu (USA)</li>
  <li>J. Davies (Canada)</li>
  <li>N. Gerasimenko (Russia)</li>
  <li>J. Gyulai (Hungary)</li>
  <li>T. Itoh (Japan)</li>
  <li>T. E. Jackman (Canada)</li>
  <li>O. Meyer (Germany)</li>
  <li>S. Namba (Japan)</li>
  <li>W. Moller (Germany)</li>
  <li>S. T. Picraux (USA)</li>
  <li>A. Polman (The Netherlands)</li>
  <li>F. Priolo (Italy)</li>
  <li>E. Rimini (Italy)</li>
  <li>F. W. Saris (The Netherlands)</li>
  <li>B. Stritzker (German)</li>
  <li>P. D. Townsend (UK)</li>
  <li>V. Vavilov (Russia)</li>
  <li>C. W. White (USA)</li>
  <li>J. S. Williams (Australia)</li>
  <li>S. Zou (China)</li>
</ul>

<h4><b>Local Organising Committee</b></h4>
<ul>
  <li>Lin Shao (Texas A&amp;M Univ., USA)</li>
  <li>Debbie Greer (Texas A&amp;M Univ., USA)</li>
  <li>Laura Hawkins (Texas A&amp;M Univ., USA)</li>
  <li>Kim Hyosim (Texas A&amp;M Univ., USA)</li>
  <li>Chonglin Chen (Univ. of Texas at San Antonio, USA)</li>
</ul>
