<% provide(:title, "Home") %>

<div class="push-bit">
    <div class="widget">
      <div class="">
        <div id="widget-carousel4" class="carousel slide remove-margin">
          <div class="carousel-inner">
            <div class="active item">
              <%= image_tag("placeholders/photos/SA_2.jpg", alt: "SA Skyline") %>
            </div>
            <div class="item">
              <%= image_tag("placeholders/photos/SA_1.jpg", alt: "SA Skyline") %>
            </div>
            <div class="item">
              <%= image_tag("placeholders/photos/SA_3.jpg", alt: "SA Skyline") %>
            </div>
            <div class="item">
              <%= image_tag("placeholders/photos/SA_4.jpg", alt: "SA Skyline") %>
            </div>
            <div class="item">
              <%= image_tag("placeholders/photos/SA_5.jpg", alt: "SA Skyline") %>
            </div>
          </div>
          <a class="left carousel-control" href="#widget-carousel4" data-slide="prev">
            <span><i class="fa fa-chevron-left"></i></span>
          </a>
          <a class="right carousel-control" href="#widget-carousel4" data-slide="next">
            <span><i class="fa fa-chevron-right"></i></span>
          </a>
        </div>
      </div>
    </div>
    <br>
    <div style="text-align: center;"><%= image_tag("placeholders/photos/deadlines.png", alt: "IBMM 2018 Deadlines") %></div>

    <!-- <div class="row text-center">
      <div class="col-sm-6 col-lg-4">
        <div class="widget">
          <div class="widget-extra themed-background-success">
            <h4 class="widget-content-light"><strong>ABSTRACT DEADLINE <br> (EXTENDED)</strong></h4>
          </div>
          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">20 FEB. 2018</span></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="widget">
          <div class="widget-extra themed-background-success">
            <h4 class="widget-content-light"><strong>ABSTRACT ACCEPTANCE NOTIFICATION</strong></h4>
          </div>
          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">15 MAR. 2018</span></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="widget">
          <div class="widget-extra themed-background-success">
            <h4 class="widget-content-light"><strong>EARLY REGISTRATION DEADLINE</strong></h4>
          </div>
          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">1 MAY 2018</span></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="widget">
          <div class="widget-extra themed-background-success">
            <h4 class="widget-content-light"><strong>IBMM PRIZE NOMINATION DEADLINE</strong></h4>
          </div>
          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">1 MAY 2018</span></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="widget">
          <div class="widget-extra themed-background-success">
            <h4 class="widget-content-light"><strong>TRAVEL GRANT APPLICATION DEADLINE</strong></h4>
          </div>
          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">1 MAY 2018</span></div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-4">
        <div class="widget">
          <div class="widget-extra themed-background-success">
            <h4 class="widget-content-light"><strong>FULL-LENGTH PAPER SUBMISSION OPENS</strong></h4>
          </div>
          <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen">24 JUN. 2018</span></div>
        </div>
      </div>
    </div> -->

    <br>
    <div class="clearfix">
        <!-- <span class="h4"><strong class="text-success" style="color:red;">We continue to accept abstracts for poster presentations until 1 JUN. 2018</strong><br></span> -->
        <span class="h4"><strong class="text-success" style="color:red;">Suggested poster dimensions: 33 in. x 46 in. or smaller.</strong><br></span>
        <br>
        <span class="h3"><strong class="text-success" style="color:red;">Final program is available for download, <a href="https://drive.google.com/open?id=0B3M62kWSlingN1JaNTZfSmVJOFh5VGVRTGVFN3VpbkFWd21V">click here</a>!</strong><br></span>
        <br>
        <span class="h3"><strong class="text-success" style="color:red;">Conference hotel rooms are still available!</strong><br></span>
    </div>
    <br>

    <div class="clearfix">
        <span class="h4"><strong class="text-success">About Conference</strong><br></span>
    </div>
    <hr>
    <p>IBMM (International Conference on Ion Beam Modification of Materials) is the world’s leading platform for ion beam experts and educators to exchange and report their most recent significant findings in the ion beam community. The conference series started in Budapest, Hungary, in 1978. It is organized every other year. IBMM 2018, the 21st conference, will be held in San Antonio, Texas, USA. The scope of the conference ranges from fundamental radiation materials science to industry applications.</p>
    <br>
    <div class="clearfix">
        <span class="h4"><strong class="text-success">Topics</strong><br></span>
    </div>
    <hr>
    <ul>
      <li>Nanostructure synthesis and modification</li>
      <li>Ion-driven self-organization, nanopatterning</li>
      <li>Defect-induced modification of materials</li>
      <li>Focused ion beams, ion lithography</li>
      <li>Cluster ions, single ion, swift heavy ions, highly charged ions</li>
      <li>Plasma immersion, plasma-induced modification</li>
      <li>Modification of semiconductors, metals and ceramics</li>
      <li>Application to electronic, magnetic and optical materials</li>
      <li>Irradiation effects in insulators and nuclear materials</li>
      <li>Modification of polymers and biomaterials</li>
      <li>Others not listed above</li>
    </ul>
    <br>
    <div class="clearfix">
        <span class="h4"><strong class="text-success">Chairpersons</strong><br></span>
    </div>
    <hr>
    <ul>
      <li>Lin Shao (Texas A&amp;M University), Chair</li>
      <li>Michael Nastasi (University of Nebraska-Lincoln), Co-Chair</li>
      <li>William J. Weber (University of Tennessee), Co-Chair</li>
      <li>Yongqiang Wang (Los Alamos National Laboratory), Co-Chair</li>
    </ul>
    <br>
    <div class="clearfix">
        <span class="h4"><strong class="text-success">Travel Grants (sponsored by IAEA, pending on final approval)</strong><br></span>
    </div>
    <hr>
    <p>Sponsored by IAEA (International Atomic Energy Agency), limited travel grants ($500 per person) are available for attendants from developing countries.  </p>
    <!-- Apply here before May 1, 2018. -->
    <br>
    <div class="clearfix">
        <span class="h4"><strong class="text-success">IBMM Prize</strong><br></span>
    </div>
    <hr>
    <p>The IBMM Prize was established in 2006 and is awarded biennially at IBMM conference to an early career ion beam researcher (up to 7 years since obtaining the Ph.D degree) who has made an outstanding contribution to the field. Nominations should include at least one recommendation letter, and a CV with a list of publications. Self-nomination is also acceptable. Please send the nomination package to Prof. Rob Elliman (rob.elliman@anu.edu.au). The closing date is May 1, 2018.</p>

    <br>
    <div class="clearfix">
        <span class="h4"><strong class="text-success">Acknowledgements</strong><br></span>
    </div>
    <hr>

    <p>The IBMM 2018 conference is co-organized by Texas A&M University,  University of Nebraska-Lincoln/Nebraska Center for Energy Sciences Research, University of Tennessee at Knoxville, Los Alamos National Laboratory, and International Atomic Energy Agency. The conference is sponsored by US Department of Energy, Basic Energy Science, and High Voltage Engineering Europa B.V. (HVE).</p>
</div>
