<% provide(:title, "Hotel Reservation Information") %>

<h1><%= yield(:title) %></h1>
<%= image_tag("placeholders/photos/hotel_logo_3.png", alt: "Hilton Palacio del Rio", style: "width: 300px;") %>
<br>
<h4><b>HILTON PALACIO DEL RIO HOTEL</b></h4>
<h5>Address: 200 S Alamo St, San Antonio, TX 78205</h5>
<h5>Phone: (210) 222-1400</h5>
<h4>
  <%= link_to "Maps & Directions", "http://www3.hilton.com/en/hotels/texas/hilton-palacio-del-rio-SATPDHF/maps-directions/index.html", class: "btn btn-primary" %>
</h4>
<br>
<h5>A block of rooms has been reserved for June 21, 2018 - July 1, 2018. The special room rate will be available until until the group block is sold-out, please call 1-800-HILTONS to inquire about IBMM2018 special rates.</h5>
<h5 style="margin-bottom: 20px;">See you at the Hilton Palacio del Rio in June! We hope you enjoy your stay and your group's event!
</h5>
<h4>
  <!-- <%= link_to "Start Hotel Reservation", "http://www.hilton.com/en/hi/groups/personalized/S/SATPDHF-IBM-20180621/index.jhtml?WT.mc_id=POG", class: "btn btn-primary" %> -->
  <!-- <%= link_to "Start Hotel Reservation", "http://www3.hilton.com/en/hotels/texas/hilton-palacio-del-rio-SATPDHF/accommodations/index.html", class: "btn btn-primary" %> -->
</h4>
<!-- <h5>Negotiated hotel room cost: <b>$159/day</b> with private balconies in every room</h5>
<h5 style="margin-bottom: 20px;">No deadline for hotel reservation. However, special rates are guaranteed for the first <b>100</b> room reservations only</h5>
<h4>Instruction for reservation</h4>
<ul>
  <li>Click the link above to reach Hilton hotel reservation page</li>
  <li>On the right-up corner, select arrival and departure time, and click "CHECK ROOMS & RATES"</li>
  <li>Next page, on the bottom of the left column titled as "Narrow your results", click "Have a special code?"</li>
  <li>Type "IBM" as group code</li>
  <li>​Rate plan of "Ion Beam Modification" will appear for your selection</li>
</ul> -->
<br>
<div class="widget">
  <div class="">
    <div id="widget-carousel4" class="carousel slide remove-margin">
      <div class="carousel-inner">
        <div class="active item">
          <%= image_tag("placeholders/photos/room_1.png", alt: "Room Photo") %>
        </div>
        <div class="item">
          <%= image_tag("placeholders/photos/room_2.png", alt: "Room Photo") %>
        </div>
        <div class="item">
          <%= image_tag("placeholders/photos/room_3.png", alt: "Room Photo") %>
        </div>
        <div class="item">
          <%= image_tag("placeholders/photos/room_4.png", alt: "Room Photo") %>
        </div>
      </div>
      <a class="left carousel-control" href="#widget-carousel4" data-slide="prev">
        <span><i class="fa fa-chevron-left"></i></span>
      </a>
      <a class="right carousel-control" href="#widget-carousel4" data-slide="next">
        <span><i class="fa fa-chevron-right"></i></span>
      </a>
    </div>
  </div>
</div>
<!--
<h4>Guest Room</h4>
<p>Each room features a private balcony for panoramic
views of the city. Every room also features our
Hilton Serenity CollectionTM bedding and the latest
technology, including large, high definition TV’s and
high speed internet access. The spacious standard
rooms come with one King bed or two Full beds.
</p>
<p>Each room includes the following:</p>
<ul>
  <li>Large, 37” plasma screen, high definition TV with On-Demand entertainment</li>
  <li>Hilton SerenityTM Collection bedding</li>
  <li>Deluxe bath amenities</li>
  <li>Ample work station</li>
  <li>Iron/Ironing board and hair dryer</li>
  <li>Cofeemaker</li>
  <li>HDTV jack pack connectivity</li>
  <li>High-speed internet access</li>
  <li>In-room safe</li>
</ul>

<h4>Hilton Fitness</h4>
<p>Outfitted with the latest generation of cardio and
strength training equipment, Hilton Fitness takes
a personalized approach to help you feel your best
during your stay. Guests must be at least 16 years
of age to use the facilities.
</p>

<h4>Outdoor Swimming Pool</h4>
<p>Enjoy the view! Our rooftop pool is situated on the
beautiful River Walk.
</p> -->
